# --- Cœur du Projet (IA & Data Science) ---
numpy
pandas
matplotlib
seaborn
scikit-learn
stable-baselines3
shimmy
gymnasium
pandas_ta

# --- Serveur & API (FastAPI) ---
fastapi
uvicorn

# --- Interface Web (Flask) ---
flask
requests
